<form action="/sessions/new" method="POST">

    <input type="text" placeholder="Name">
    <input type="text" placeholder="Email">
    <input type="password" placeholder="Passoword">
    <input type="password" placeholder="Password Confirm">
    <input type="submit" value="Register">

</form>
