<style>
    body{
        background-image: url("https://cdn.shopify.com/s/files/1/0197/1494/products/DSCN8420detail_chicago_river_the_bridge_is_up_detail_master_d3040ad3-4c78-443e-9d5b-1ab24a2be86e.jpg?v=1415475445")
    }
</style>

<div id="wrapper-1">
    <center>
    <h1 class="white-text">Bring Your Dreams To Life!</h1>
    <% if session[:id] %>
    <a class="waves-effect red waves-light btn-large" href="/dreamstart/start">Start Dream</a>
    <% else %>
    <li><a class="waves-effect red btn-large waves-light" href="#modal2" >Login</a></li>
    <h4 class="white-text">or</h4>
    <li><a class="waves-effect red btn-large waves-light" href="#modal1" >Sign Up</a></li>
    <% end %>

    <h4 class="white-text">Categories to choose from</h4>

    <div class="categories">
        <% @categories.each do |category| %>
            <span class="cat btn"><%= category %></span>
        <% end %>
    </div>
    </center>
</div>