<center>
    <ul id="tabs-swipe-demo" class="tabs">
        <li class="tab col s3"><a class="active" href="#basic-swipe">Basics</a></li>
        <li class="tab col s3"><a href="#story-swipe">Story</a></li>
        <li class="tab col s3"><a href="#rewards-swipe">Rewards</a></li>
        <li class="tab col s3"><a href="#account-swipe">Account</a></li>
    </ul>
</center>

    <div id="wrapper-new">
        <div id="basic-swipe" class="dream-form">
            <form action="">

                <div class="file-field input-field ">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" multiple>
                    </div>
                    
                    <div class="file-path-wrapper" >
                        <input class="file-path validate" type="text" placeholder="Upload one or more files">
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" class="validate">
                        <label for="last_name">Title</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Short Blurb</label>
                    </div>
                </div>

                <div class="input-field col s8">
                    <select>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Option 1</option>
                    </select>
                    <label>Materialize Select</label>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" class="validate">
                        <label for="last_name">Project Location</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input type="number" class="validate">
                        <label for="last_name">Funding Goal</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input type="number" class="validate">
                        <label for="last_name">Funding Duration</label>
                    </div>
                </div>
            </form>
        </div>

        <div id="story-swipe" class="dream-form">

            <form action="" method="">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file">
                    </div>

                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload a video">
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                        <label for="icon_prefix2">Description</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                        <label for="icon_prefix2">Risk and Challanges</label>
                    </div>
                </div>

            </form>
        </div>

        <div id="rewards-swipe" class="dream-form">
            <form action="" method="">

                <div class="row">
                    <div class="input-field col s12">
                        <input id="first_name2" type="text" class="validate">
                        <label class="active" for="first_name2">Title</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input value="Alvin" id="first_name2" type="number" class="validate">
                        <label class="active" for="first_name2">Pledge Amount</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Description</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="datepicker1" type="date" class="datepicker">
                        <label for="datepicker1">Estimate Delivery</label>
                    </div>
                </div>

            </form>
        </div>

        <div id="account-swipe" class="dream-form">
            <form action="">

                 <div class="file-field input-field ">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" multiple>
                    </div>
                    
                    <!--<div class="file-path-wrapper" >-->
                        <input class="file-path validate" type="text" placeholder="Upload an image">
                    <!--</div>-->
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="first_name2" type="text" class="validate">
                        <label class="active" for="first_name2">Name</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Biography</label>
                    </div>
                </div>
                
            </form>
        </div>
    </div>       