<div class="all-container-">

<div id="show-container">

    <div class="project" >
            
        <h1> <%= @project.title %> </h1>
        <div class="image_wrapper_2">
            <%= image_tag @project.image_url.to_s, :class => "project-image-2" %>
        </div>

        <div class="project-progress">
            
        </div>

    </div>

    
    
</div>

<div class="row project-description">
    <div class="col s12">
        <ul id="project-show-tabs" class="tab tabs">
            <li class="tab col s3"><a class="active" href="#project-about-swipe">About this project</a></li>
            <li class="tab col s3"><a href="#project-faq-swipe">FAQ</a></li>
            <li class="tab col s3"><a href="#project-comments-swipe">Comments</a></li>
            <li class="tab col s3"><a href="#project-community-swipe">Community</a></li>
        </ul>
     </div>



    <div id="project-about-swipe" class="col s12" >
        
        <div class="project-about">
            <div class="inner-project-about">
                <h2>About this project</h2>
                <p><%= @project.story.description %></p>
                <h3>Risk and Challanges</h3>
                <p><%= @project.story.risk %></p>
            </div>
            <div class="inner-project-rewards" >
                <p>Support This Project</p>
            </div>
        </div>

    </div>
    <div id="project-faq-swipe" class="col s12 " >
        
        <div class="project-faq">
            <h4>Ask a Question</h4>
        </div>
    </div>
    <div id="project-comments-swipe" class="col s12 " >

        <div class="project-comments">
            <h4>Comment</h4>
        </div>

    </div>
    <div id="project-community-swipe" class="col s12" >
        
        <div class="project-community">
            <h4>People Backing This Project</h4>
        </div>
    </div>
</div>

</div>