// Place all the styles related to the dreamstart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .carousel { 
// max-height: 500px;
// }

.categories{
    margin: 18px 242px 0px 243px;
    padding: 20px 9px 23px 42px;
}
.category{
    width: 50%;
}
.dream-form{
    padding: 1px;
    width: 500px;
}
#wrapper-new{
    // background-color: seagreen;
    height: 800px;
    width: 515px;
    margin: 0px 0px 0px 395px;

}
#wrapper-1{
    margin: 100px;
}
#wrapper-2{
    // background-color: darkcyan;
    padding: 0px 0px 0px 443px;
    height: 100%;

}