// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Projects home page 

#newest-project h2{
    margin: 0px 0px 10px 16px;
}

#newest-project{
    width: 100%;
    padding-left: 30px;
    .owl-item{
    margin: 0px 0px 0px 14px;
    padding: 2px;
    }
    .project-display{
        // background-color: red;
        // height: 500px;
        width: 335px;
        box-shadow: -1px 3px 7px 3px #888878;
        .project-image{
            padding: 1px;
            // height: 50%;
            width: 100%;
        }
        .inner-project-index{
            // background-color: yellow;
            // height: 210px;
            width: 325px;
            margin: 6px 0px 0px 5px;
            .project-index-category{
                // background-color: darkgoldenrod;
                // height: 15%;
                width: 100%;
            }
            .project-index-title{
                // background-color: white;
                width: 100%;
            }
            .project-index-user{
                // background-color: salmon;
                width: 100%;
            }
            .project-index-blur{
                // background-color: beige;
                // height: 15%;
                width: 100%;
            }
            .project-index-goal{
                // background-color: blue;
                width: 100%;
                // height: 11%;
            }
            .project-index-funded{
                // background-color: sienna;
                width: 100%;
                // height: 12%;
            }
            .project-index-duration{
                // background-color: teal;
                width: 100%;
                // height: 12%;
            }
        }
}
}

//Projects Learn Page
#learn-container{
    text-align: center;
    .categories{
        margin: 18px 242px 0px 243px;
        padding: 20px 9px 23px 42px;
    }
}

//Projects Start Page
#start-container{
    // background-color: darkcyan;
    padding: 0px 0px 0px 443px;
    // height: 500px;
    .category{
        width: 50%;
    }
}

//Projects New Page

#project-new-wrapper{
    min-height: 100%;
    width: 750px;
    padding: 0px 0px 5px 137px;
    margin: 0 auto;
    border-style: solid;
    border-width: 1px;
    box-shadow: 10px 10px 5px #888878;
    position: relative;
    .project-form{
        padding: 1px;
        width: 500px;
        min-height: 95%;
    }
    
}

//Projects Show Page
#show-container{
    background-color: darkgreen;
    height: 100%;
}

#project-about-swipe{
    background-color: skyblue;
    .project-about{
        background-color: tomato;
        overflow: auto;
        .inner-project-about{
            background-color: seagreen; 
            float: left;
            width: 65%;
        }
        .inner-project-rewards{
            background-color: beige;
            display: inline-block;
            width: 35%;
        }
    }
}







.rewards{
    padding: 9px 0px 0px 29px;
    border-radius: 10px;
    width: 500px;
    // height: 40px;
    margin: 8px 0px 0px 0px;
    background-color: tomato;
}